* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* Common  */
.clear {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half{
  width: 50%;
} 

.col-third {
  width: calc(100% / 3);
}

.text-white{
  color: white;
}

.text-center {
  text-align: center; !important
}
/* Main */
#main {}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}


#nav>li {
  display: inline-block;
}

#nav a {
  display: block;
}

#nav .subnav li {
  position: relative;
  display: block;
}

#nav>li>a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
  height: 100%;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #f44336;
  color: #fff;
}

#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 14px;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/css/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
  position: relative;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {}

#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  margin-top: 47px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-avt {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour section */
#content .tour-section{
  background-color: #000;
}
/* Ticket */
.ticket-list{
  background-color: #fff;
  margin-top: 40px;
}

.ticket-list li{
  color: #757575;
  font-size: 15px;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  line-height: 24px;
}

.ticket-list .sold-out{
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 4px 8px;
  line-height: 24px;
  border-radius: 4px;
}

.ticket-list .quantity{
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  text-align: center; 
  line-height: 24px;
  border-radius: 50%;
}
/* Places */
.places-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.place-img{
  width: 100%;
  display: block;
}

.place-img:hover{
  opacity: 0.6;
}

.place-body{
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-heading{
  font-size: 15px;
  font-weight: bolder;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-description{
  margin-top: 15px;
  line-height: 1.4;
}

.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}
#footer {

}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  animation: modalFadeIn ease 0.3s;
}
.modal.open{
  display: flex;
}
.modal .modal-container {
  background-color: white;
  min-height: 200px;
  width: 900px;
  position: relative;
  max-width: calc(100% - 32px);
  position: relative;
}
.modal-close-btn {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
}

.modal-close-btn:hover {
  color: #000;
  background-color: #ccc;
}
.modal .modal-header{
  background-color: #009688;
  color: #fff;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 1.5;
  font-weight: 400;
}

.modal .modal-header-icon {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 15px;
}

.modal-input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  writing-mode: horizontal-tb;
  margin-top: 15px;
  font-size: 15px;
}

.modal #buy-tickets {
  color: #fff;
  background-color: #009688;
  width: 100%;
  text-align: center;
  padding: 16px 0 16px;
  border: none;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.modal #buy-tickets:hover {
  color: #000;
  background-color: #ccc;
}

.modal-footer {
  display: block;
  float: right;
  margin-bottom: 32px;
  font-size: 15px;
  padding-right: 16px;
}

.modal-footer .modal-help-btn {
  color: #2196F3;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}